$primary: #2688a9;
$success: #01937C;
$dark: #343A40;
$danger: #CD113B;
$warning: #FF7600;
$light: #E8F0F2;

$colors: (primary: #2688a9,  // Primary
          success: #01937C,  // Success
          dark: #343A40,     // Dark
          danger: #CD113B,   // Danger
          warning: #FF7600,  // Warning
          light: #E8F0F2);   // Light